@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

body {
	font-family: "Noto Sans TC", sans-serif;
	overflow: hidden;
	background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.container {
	height: 70vh;
	width: 50%;
	margin: 0 auto;
	border: 4px solid black;
	overflow: auto;
	background: white;
}

.contact-container {
	display: flex;
	justify-content: stretch;
	margin: 1em auto;
	border-bottom: 2px solid black;
}
.contact-container img {
	width: auto;
	height: auto;
	border-radius: 50%;
	border: 6px solid rgba(0, 0, 0, 0.781);
	margin: 2em;
}

.text-info {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}